<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Modern Business - Start Bootstrap Template</title>

	<!-- Bootstrap core CSS -->
	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="../css/modern-business.css" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">Inicio</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">

					
					<li class="nav-item">
						<a class="nav-link" href="/lista-usuarios">Usuarios</a>
					</li>

					</li>

					<li class="nav-item">
						<a class="nav-link" href="/perfiles/lista-perfiles">Perfiles</a>
					</li>


					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							User
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
							<a class="dropdown-item" href="/logout">Logout</a>

						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">

		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">Usuarios en la BD
			<small></small>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="/">Home</a>
			</li>
			<li class="breadcrumb-item active">Usuarios</li>
		</ol>

		<!-- Intro Content -->


		<!-- Team Members -->


		<table cellpadding="5">

			<thead>
				<tr>										
					<th> Id </th>
					<th> Nombre </th>
					<th> Apellido </th>
					
				</tr>
			</thead>
			<tbody>

												
					<td> <span th:text="${persona.idPersona}" /> </td>
					<td> <span th:text="${persona.nombre}" /> </td>
					<td> <span th:text="${persona.apellido}" /> </td>		

					

					¿

				

			</tbody>

		</table>

		<a class="btn btn-primary" th:href="@{/permiso/pedirfecha}"> Agregar</a> </td>
		<a class="btn btn-primary" th:href="@{/permiso-pdf}" target="_blank"> Generar PDF</a> </td>

		<p> </p>
	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
		</div>


		<!-- /.container -->
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



</body>

</html>